<a href="https://colab.research.google.com/github/dward2nd/ibm-data-science-capstone-project/blob/master/2_1_Clustering_Make_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

*Note: this notebook was made using Google Colab*

Import necessary libraries.

In [ ]:
import numpy as np  # numpy
import pandas as pd # pandas

Import the data set of Canada postal codes.

In [ ]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Drop the cells with `Borough` equals `Not assigned`, as we don't process them. And change the `Neighborhood` with value `Not assigned` to the same as `Borough`, if any.

In [ ]:
# remove rows with `Borough` equals `Not assigned`
df = df[df['Borough'] != 'Not assigned']

# set `Neighborhood` to the same as `Borough` if `Neighborhood` equals `Not assigned`
df[df['Neighborhood'] == 'Not assigned']['Neighborhood'] = df['Borough']

# due to the removal, the index has changed, so reset it.
df.reset_index(inplace=True)
df.drop(['index'], axis=1, inplace=True)

# preview
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Lastly, let's see how many rows are in the dataframe.

In [ ]:
df.shape

(103, 3)

Save the dataframe for the later use.

In [ ]:
df.to_csv('canada-postal-code-df.csv')