<a href="https://colab.research.google.com/github/dward2nd/ibm-data-science-capstone-project/blob/master/2_2_Clustering_Location_with_Latitude_Longitude.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set up

*Note: this notebook was made using Google Colab.*

Import necessary libraries

In [1]:
import numpy as np
import pandas as pd

# install geocoder
!pip install geocoder
import geocoder

import requests

# convert from json to df
from pandas.io.json import json_normalize

import folium

Requirement already satisfied: geocoder in /usr/local/lib/python3.6/dist-packages (1.38.1)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.12.0)
Requirement already satisfied: ratelim in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)

Import the previous dataframe I've made.

In [2]:
df = pd.read_csv('/content/canada-postal-code-df.csv')

# preview
df.head()

   Unnamed: 0  ...                                 Neighborhood
0           0  ...                                    Parkwoods
1           1  ...                             Victoria Village
2           2  ...                    Regent Park, Harbourfront
3           3  ...             Lawrence Manor, Lawrence Heights
4           4  ...  Queen's Park, Ontario Provincial Government

[5 rows x 4 columns]

Clean a bit up, remove `Unnamed: 0`

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

# preview
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

# Get the geolocation coordinates

for every postal code

*Note: There's a problem using `geocoder`, so import the geolocation coordinates from `http://cocl.us/Geospatial_data` instead.*

In [5]:
toronto_coord = pd.read_csv('http://cocl.us/Geospatial_data')

# preview
toronto_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Let see the number of rows to see whether there are missing postal code locations here.

In [6]:
print('df size:', df.shape)
print('toronto_coord size:', toronto_coord.shape)

df size: (103, 3)
toronto_coord size: (103, 3)

OK, both are the same.

Merge `df` and `toronto_coord` and overwrite `df`

In [10]:
df = pd.merge(df, toronto_coord, on='Postal Code')

# preview
df.head()

  Postal Code           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]

Ensure that the size is the same as we tested above.

In [11]:
df.shape

(103, 5)

Lastly, save the dataframe for the next use.

In [12]:
df.to_csv('/content/canada-postal-code-with-latlong.csv')